{% set amount = data %}
{% if amount > 0 %}
    <span class="ui green large label">
        +{{ amount }} tokens
    </span>
{% elseif amount < 0 %}
    <span class="ui red large label">
        {{ amount }} tokens
    </span>
{% else %}
    <span class="ui grey label">0 token</span>
{% endif %}