{% set resources = hookable_metadata.context.resources %}

<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-xxl-10">
            {% hook 'header' %}
            {% hook 'main' %}
        </div>
    </div>
</div>