<div class="col">
    <a href="{{ path('sylius_shop_homepage') }}" class="d-inline-block py-lg-2 d-flex align-items-center text-decoration-none" aria-label="logo">
        {{ ux_icon('tabler:video', { class: 'icon icon-lg text-primary me-2' }) }}
        <span class="h5 mb-0 text-dark fw-bold">{{ 'app.ui.brand_name'|trans }}</span>
    </a>
</div>