<div class="col-auto">
    <div class="d-none d-lg-flex gap-2 align-items-center">
        <a href="{{ path('sylius_shop_homepage') }}" class="nav-link {{ app.request.get('_route') == 'sylius_shop_homepage' ? 'active' : '' }}">
            {{ ux_icon('tabler:home', { class: 'icon me-2' }) }}
            {{ 'app.ui.nav.home'|trans }}
        </a>
    </div>
</div>