{% import '@SyliusShop/shared/buttons.html.twig' as buttons %}
{% import 'shop/video/generation/macro/status.html.twig' as videoStatus %}

{% set resources = hookable_metadata.context.resources %}

<div class="row g-4">
    {% for generation in resources %}
        {% hook 'item' with { generation } %}
    {% endfor %}
</div>